<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platforms</key>
	<array>
		<string>3DO</string>
		<string>Amiga</string>
		<string>Amiga CD32</string>
		<string>Apple II</string>
		<string>Apple IIgs</string>
		<string>Arcade</string>
		<string>Atari 2600</string>
		<string>Atari 5200</string>
		<string>Atari 7800</string>
		<string>Atari 8-bit</string>
		<string>Atari Lynx</string>
		<string>Atari ST</string>
		<string>CD-i</string>
		<string>ColecoVision</string>
		<string>Commodore 128</string>
		<string>Commodore 16</string>
		<string>Commodore 64</string>
		<string>Dreamcast</string>
		<string>Famicom Disk System</string>
		<string>Game Boy</string>
		<string>Game Boy Advance</string>
		<string>Game Boy Color</string>
		<string>Game Gear</string>
		<string>GameCube</string>
		<string>Genesis</string>
		<string>Intellivision</string>
		<string>Jaguar</string>
		<string>Mac</string>
		<string>N-Gage</string>
		<string>Neo Geo</string>
		<string>Neo Geo CD</string>
		<string>Neo Geo Pocket</string>
		<string>Neo Geo Pocket Color</string>
		<string>New Nintendo 3DS</string>
		<string>Nintendo 3DS</string>
		<string>Nintendo 64</string>
		<string>Nintendo 64DD</string>
		<string>Nintendo DS</string>
		<string>Nintendo Entertainment System</string>
		<string>Odyssey 2</string>
		<string>PC</string>
		<string>PC-FX</string>
		<string>Pinball</string>
		<string>PlayStation</string>
		<string>PlayStation 2</string>
		<string>PlayStation 3</string>
		<string>PlayStation 4</string>
		<string>PlayStation Portable</string>
		<string>PlayStation Vita</string>
		<string>Satellaview</string>
		<string>Saturn</string>
		<string>Sega 32X</string>
	</array>
</dict>
</plist>
